<section id="aptitudes">
    <h2>Aptitudes</h2>
    <ul>
        <li>Trabajo en equipo</li>
        <li>Capacidad de autoaprendizaje</li>
        <li>Pensamiento crítico</li>
        <li>Resolución de problemas</li>
        <li>Adaptabilidad</li>
        <li>Comprometido</li>
    </ul>
</section>