<section id="contacto">
    <h2>Contacto</h2>
    <div class="contact-content">
        <p><a href="mailto:2006josepariasp@gmail.com"><img src="https://cdn-icons-png.freepik.com/512/8637/8637821.png?ga=GA1.1.835431079.1762383857" alt="Correo" /> 2006josepariasp@gmail.com</a></p>
        <p><a href="tel:+34644294051"><img src="https://cdn-icons-png.freepik.com/512/3293/3293284.png?ga=GA1.1.835431079.1762383857" alt="Teléfono" /> +34 644 29 40 51</a></p>
        <p><a href="https://www.linkedin.com/in/jose-arias-pérez-94164b346" target="_blank"><img src="https://cdn-icons-png.freepik.com/512/3670/3670045.png?ga=GA1.1.471812271.1762624614" alt="LinkedIn" /> LinkedIn</a></p>
    </div>
</section>